<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}">

</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="{% static 'images/favicons/favicon.ico' %}" alt="logo">
        </a>
    </header>

    <!-- Title -->
    <article>
        <div class="article-title">
            <h2>Jun</h2>
            <p>Hi there:) I'm Jun. How are you.</p>
        </div>
    </article>
    
    <!-- My Keywords -->
    <article>
        <div>
            <img src="" alt="">
            <h2>Dream</h2>
            <p>1</p>
        </div>
        <div>
            <img src="" alt="">
            <h2>Share</h2>
            <p>2</p>
        </div>
        <div>
            <img src="" alt="">
            <h2>Joy</h2>
            <p>3</p>
        </div>
        <div>
            <img src="" alt="">
            <h2>Make</h2>
            <p>4</p>
        </div>
    </article>

    <!-- What I do -->
    <article>
        <h2>What I Do</h2>
        <div>
            <div class="do1">
                <img src="" alt="">
                <h2>mozilla</h2>
                <p>contribute such as bugfix, comment</p>
            </div>
        </div>
    </article>

    <!-- Contact Me -->
    <footer>

    </footer>
</body>
</html>