<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}">

</head>
<body>
    <!-- Header -->
    <header class="header">
        <a href="#" >
            <img class="header__logo" 
                src="{% static 'images/favicons/favicon.ico' %}"
                alt="logo">
        </a>
    </header>

    <!-- Title -->
    <article class="main_title">
        <div class="article-title">
            <h2>Jun</h2>
            <p>Hi there:) I'm Jun. How are you.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            </p>
        </div>
    </article>
    
    <!-- My Keywords -->
    <article class="main_keyword">
        <div class="main_keyword__container">
            <div class="main_keyword__box">
                <img src="" alt="">
                <h2>Dream</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="main_keyword__box">
                <img src="" alt="">
                <h2>Share</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="main_keyword__box">
                <img src="" alt="">
                <h2>Joy</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="main_keyword__box">
                <img src="" alt="">
                <h2>Make</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
    </article>


    <!-- What I do -->
    <article class="main_ido">
        <h2>What I Do</h2>
        <div class="main_ido__container">
            <div class="main_ido__box">
                <img src="{% static 'images/main/whtido.png' %}"
                     alt="ido img1">
                <h2>mozilla</h2>
                <p>contribute such as bugfix, comment</p>
            </div>
            <div class="main_ido__box">
                <img src="{% static 'images/main/whtido.png' %}"
                     alt="ido img1">
                <h2>mozilla</h2>
                <p>contribute such as bugfix, comment</p>
            </div>
            <div class="main_ido__box">
                <img src="{% static 'images/main/whtido.png' %}"
                     alt="ido img1">
                <h2>mozilla</h2>
                <p>contribute such as bugfix, comment</p>
            </div>
            <div class="main_ido__box">
                <img src="{% static 'images/main/whtido.png' %}"
                     alt="ido img1">
                <h2>mozilla</h2>
                <p>contribute such as bugfix, comment</p>
            </div>
        </div>
    </article>
</body>
</html>