<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}">

</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" >
            <img class="header__logo" 
                src="{% static 'images/favicons/favicon.ico' %}"
                alt="logo">
        </a>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Title -->
    <article class="main-title">
        <h2>MyeongJun Go</h2>
        <p>My name is Jun. I am a Web Developer while traveling the world. I like to make web service using JS and Python.</p>
        <p>If you need to help on Web Service, I want to give you helping.</p>
        <p>Contact Me(<a href="https://www.instagram.com/myeongjunn/">@Instgram</a>, <a href="https://github.com/junngo">@Github</a>)</p>
    </article>

</body>
</html>
