<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/project.css' %}">
    
</head>
<body>
    <!-- Header -->
    <header>
        <a href="#" >
            <img class="header__logo" 
                src="{% static 'images/favicons/favicon.ico' %}"
                alt="logo">
        </a>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">About</a></li>
                <li><a href="{% url 'project' %}">Project</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Title(Project) -->
    <div class="container">
        <div class="box">
            <div>img</div>
            <div>title</div>
            <div>disc</div>
            <div>https://boiling-fortress-49913.herokuapp.com/</div>
            <div>github</div>
        </div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

</body>
</html>
